/* Aplica estilo personalizado al Toast */
.toast-left-full {
    width: 90vw; 
    height: 95vh;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-left:40px;
    padding-bottom:30px;
    overflow-y: auto;
  }
  